<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Entertinment Scrapper</h1>
            <p class="lead text-muted">Take notes on todays top trending!</p>
            <p>
                <a href="/scrape" class="scrape btn btn-primary my-2">New Articles</a>
                <a href="/articles" class="btn btn-secondary my-2">Saved Articles</a>
            </p>
        </div>
    </section>
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">

                {{#each data}}
                <div class="card mb-3" style="max-width: 90%;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img class="card-img"
                                data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                                alt="Thumbnail [100%x225]" style="100%; display: block;" src="{{imgLink}}"
                                data-holder-rendered="true">

                        </div>

                        <div class="col-md-8">
                            <div class="card-body">
                                <p class="card-text">{{title}}</p>
                                <p class="card-text">{{desc}}</p>
                                <div class="btn-group">
                                    <a href="{{link}}" target="_blank"><button type="button"
                                            class="btn btn-primary btn-sm btn-outline-secondary"
                                            style="color:white">View</button></a>
                                    <button data-title="{{title}}" data-desc="{{desc}}" data-imglink="{{imgLink}}"
                                        data-date="{{date}}" data-link="{{link}}" type="button"
                                        class="save btn btn-success btn-sm btn-outline-secondary"
                                        style="color:white">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}

            </div>
        </div>
    </div>
</main>

<script>
    $(".save").on('click', function (e) {
        event.preventDefault(e);
        var newSavedArticle = {
            title: $(this).data('title'),
            desc: $(this).data('desc'),
            imgLink: $(this).data('imglink'),
            link: $(this).data('link'),
            date: $(this).data('date')
        }
        $.ajax({
            type: "POST",
            url: "/save",
            data: newSavedArticle
        }).then(function (data) {
        });
    });
</script>